diffusers==0.13.1
triton==2.0.0
xformers==0.0.16
transformers==4.26.0
datasets==2.10.1
accelerate==0.16.0
ftfy
tensorboard
Jinja2
tqdm
torch==1.13.1
torchvision==0.14.1
--extra-index-url https://download.pytorch.org/whl/cu116
